<!DOCTYPE HTML>
<!-- base template that specifies the general layout for pages and takes care of flashed messages -->

<html lang='en'>

	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}" >
		<script src="{{ url_for('static', filename='script.js') }}" ></script>
		{% block head %}
		{% endblock %}
<!--[if lt IE 9]>
	<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

	</head>
	<body>
	
		<nav>
			<a href="{{url_for('index')}}">Home</a>
		</nav>		
		{% block content %}
		{% endblock %}
		{% with messages = get_flashed_messages() %}
		{% if messages %}
			<div id="error">
				{% for message in messages %}
					{{message}}
				{% endfor %}
			</div>
		{% endif %}
		{% endwith %}
	</body>

</html>
